.countries {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 20px;
}
  
.countries-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 0;
    margin: 0;
    list-style-type: none;
}
  
.countries-list li {
    margin: 10px; 
}